.layout {
    max-width: 1200px;
    margin: 0 auto;
}

.effect-canvas {
    position: fixed;
    z-index: 0;
    top: 0;
}

.main {
    display: flex;
}

.primary {
    flex-basis: 70%;
    margin-right: 4rem;
}

.link-button {
    padding: 10px;
    background: $highlight-color-1;
    color: #fff;
    display: block;
    width: fit-content;
}

.article {
    margin: 4rem 0;
    padding: 0 0 0 14px;

    &:first-child {
        margin: 0 0 4rem 0;
    }

    &:nth-child(3n+1) {
        .link-button {
            background: $highlight-color-1;
        }
        border-left: 8px solid $highlight-color-1;
    }

    &:nth-child(3n+2) {
        .link-button {
            background: $highlight-color-2;
        }
        border-left: 8px solid $highlight-color-2;
    }

    &:nth-child(3n+3) {
        .link-button {
            background: $highlight-color-3;
        }
        border-left: 8px solid $highlight-color-3;
    }
}

.aside-list {
    margin: 2.5rem 0;
    font-size: 1.25rem;

    ol {
        list-style: none;
        padding: 0;

        li {
            margin: 0.75rem 0;
        }
    }

    &:first-child {
        margin-top: 0;
    }
}

.bio {
    display: flex;
    align-items: center;

    p {
        margin-left: 1rem;
    }
}

.nav {
    ul {
        display: flex;
        padding: 0;
        list-style: none;
        justify-content: space-between;
    }
}
