@import "_variables";
@import "header";
@import "layout";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: $link-color;
}

p {
    font-size: 1.15rem;
    line-height: 1.8rem;
    color: $text-color;
}
